
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --clr-light: #f5f5f5;
    --clr-dark: #2c2c2c;
    --clr-secondary: #0842a2;
    --clr-accent: #045cf5;
    --clr-nav-light: #dcdcdc;
    --clr-nav-dark: #212121;
    --clr-shadow: gray;
    --clr-focus-light: #eaeaea;
    --clr-focus-dark: #343434;
    --clr-buton1-light: #e5e5e5;
    --clr-buton2-light: #f3f3f3;
    --clr-buton1-dark: #262626;
    --clr-buton2-dark: #3b3b3b;
    --clr-desc-light: #e0e0e0;
    --clr-desc-dark: #2a2a2a;
    --clr-red: #be0000;
    --clr-red-hover: #ff0000;

    --clr-desc: var(--clr-desc-light);
    --clr-button1: var(--clr-buton1-light);
    --clr-button2: var(--clr-buton2-light);
    --clr-focus: var(--clr-focus-light);
    --clr-nav: var(--clr-nav-light);
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--clr-dark);
        --foreground: var(--clr-light);
        --clr-nav: var(--clr-nav-dark);
        --clr-shadow: black;
        --clr-focus: var(--clr-focus-dark);
        --clr-button1: var(--clr-buton1-dark);
        --clr-button2: var(--clr-buton2-dark);
        --clr-desc: var(--clr-desc-dark);
    }
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

body {
    background-color: var(--background);
}

* {
    color: var(--foreground);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10%;
    background-color: var(--clr-nav);
    box-shadow: 0 0 15px var(--clr-shadow);
}

.nav_links li {
    display: inline-block;
    padding: .5rem .5rem;
}

.navbar > button {
    color: white;
    padding: 9px 25px;
    background-color: var(--clr-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease 0s;
    box-shadow: 0 0 10px var(--clr-shadow);
}


.navbar button:hover,
.navbar button:focus{
    background-color: var(--clr-accent);
}

.navbar li button {
    padding: 9px 25px;
    background-color: var(--clr-button1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease 0s;
    box-shadow: 0 0 10px var(--clr-shadow);
}

.navbar li button:hover,
.navbar li button:focus {
    background-color: var(--clr-button2);
}

/*.blur:before {*/
/*    content: "";*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: -1;*/
/*    -webkit-filter: blur(5px);*/
/*    -moz-filter: blur(5px);*/
/*    -o-filter: blur(5px);*/
/*    -ms-filter: blur(5px);*/
/*    filter: blur(5px);*/
/*}*/
